export const APP_CONFIG = {
    REACT_APP_CLIENT_ID: 'YOUR_CLIENT_ID',
    REACT_APP_TENANT_ID: 'YOUR_TENANT_ID',
    REACT_APP_REDIRECT_URL: 'http://localhost:3000',
    REACT_APP_GATEWAY_URL: 'https://localhost:62382',
    REACT_APP_TENANT: 'xxxx.onmicrosoft.com',
    REACT_APP_AZURE_API_URL: 'api://xxxxxxxxxxx',
    REACT_APP_SCOPES: 'scope1,scope2,scope3',
};
